.content-container {
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-image: url('image/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enrollment-container {
    border: 2px solid;
    align-items: center;
    border-radius: 20px;
    width: 450px;
    height: 350px;
    padding: 20px;
    background-color: #b97373;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Space between columns */
    width: 100%;
}

.form-column {
    flex: 1;
}

label {
    display: block;
    margin-bottom: 5px; /* Space between label and input */
    font-weight: bold;
}
.interests, .sex-options {
    display: flex;
    flex-direction: column;
}

.interests label, .sex-options label {
    display: flex;
    align-items: center; /* Align text with the input */

}
.left_choices{
    text-align: left;

}

button {
    background-color: #5a5a5a;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    align-self: center;
}

button:hover {
    background-color: #444444;
}
.table-container{
    align-items: center;
    padding: 5px; 
    width: 1500px; 
    height: 300px;
    font-size:15px; 
    background-color: #b97373;
    
}
body {
    font-family: Arial, sans-serif;   
}

h1 {
    font-size: 60px;
    text-align: center;
    color: #f2f2f2;
}
h3 {
    font-size: 20px;
    text-align: center;
    color: #f2f2f2;
}
ol {
    font-size: 20px;
    text-align: center;
    color: #f2f2f2;
}
li {
    font-size: 20px;
    text-align: left;
    color: #f2f2f2;

}


th, td {
    border: 2px solid;
    padding: 4px;
    text-align: center;
    font-weight: bold;
}

th {
    background-color: #f2f2f2;  
    font-size: 20px; 

}
